<ion-header [translucent]="true">
    <ion-toolbar>
      <div class="header-row">
        <ion-title>Sign Language Translate</ion-title>
        <div class="tab-bar-wrapper">
          <ion-tab-button tab="home">
            <ion-label>Home</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="account">
            <ion-label>About us</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="settings">
            <ion-label>Account</ion-label>
          </ion-tab-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <p>Account content goes here...</p>
  </ion-content>
  